[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-decouple = "*"
djangorestframework = "*"
google-auth = "*"
requests = "*"
djangorestframework-simplejwt = {extras = ["blacklist"], version = "*"}
django-unfold = "*"
pillow = "*"
django-anymail = {extras = ["resend"], version = "*"}
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
